// List Courses

.course_body {
	position: relative;
}

.header_courses {
	font-size: 2rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.list_courses {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.btn-floating {
	position: fixed;
	bottom: 80px;
	right: 100px;
}

.option {
	display: flex;
	align-items: center;
	background-color: #ededed;
	padding: 10px 15px;
	border-radius: 30px;
	margin-bottom: 15px;
}

.add-lesson {
	width: 160px;
	margin: 0 10px;
	font-weight: 500;
}
