.list-header {
	font-size: 1.5rem;
	background-color: #ededed;
	margin: 10px;
	padding: 10px 30px;
	border-radius: 30px;
	cursor: pointer;
}

.info-details {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
